

.navbar{
    background-color:#EDCFC0;
    overflow:hidden;
  }
  
  .navbar a{
    float:right;
    display:block;
    color:black;
    text-align:center;
    padding:14px;
    text-decoration:none;
    font-size:17px;
  }
  
  .navbar ul{
    margin:6px;
    list-style:none;
  }
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:#edcfc0;
    opacity:0.9;
    overflow-x:hidden;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:black;
    display:block;
    transition:0.3s;
  }
  .side-nav .btn-close{
    position:absolute;
    right:1rem;
    font-size:36px;
    margin-left:50px;
  }
  @media screen and (max-width: 700px) {
    .navbar ul {
      display:none;
    }
  }
  @media screen and (min-width: 701px) {
    .open-slide {
      display:none;
    }
  }