
/*  style for all pages start*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 1rem;
}
body {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 100%;
   
  }
.navbar{
    overflow:hidden;
  }
  
  .navbar a{
    float:right;
    display:block;
    text-align:center;
    padding:14px;
    text-decoration:none;
  }
  
  .navbar ul{
    margin:6px;
    list-style:none;
  }
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:rgb(75, 75, 75);
    opacity:0.9;
    overflow-x:hidden;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    
    display:block;
    transition:0.3s;
  }
  .side-nav .btn-close{
    position:absolute;
    right:1rem;
    font-size:46px;
  }
 
footer{
    margin-top: 100vh;
    display: flex;
    justify-content: center;
}
/*  style for all pages start*/
/*  style for homepage start*/

h1{
    font-size: 2rem;
}
.content-wrapper .content1{
    width: 100vw;
}
.text-wrapper{
    width: 100%;
    position:relative;
    margin-top: -40%;
}
.text-wrapper h1{
    text-align: center;
}
.content-wrapper2 .content2{
    width: 100vw;
    margin-top: 38%;
}
.text-wrapper2{
    width: 100%;
    position:relative;
    margin-top: -28%;
}
.text-wrapper2 h1{
    text-align: center;
}
.content-wrapper3 .content3{
    width: 100vw;
    margin-top: 26%;
}
.text-wrapper3{
    width: 100%;
    position:relative;
    margin-top: -40%;
}
.text-wrapper3 h1{
    text-align: center;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 2rem;
}
/*  style for homepage end*/
/*  mediaq for nav bar start*/
  @media screen and (max-width: 700px) {
    .navbar ul {
      display:none;
    }
  }
  @media screen and (min-width: 701px) {
    .open-slide {
      display:none;
    }
  }
  /*  mediaq for nav bar end*/